body{

    background-image: linear-gradient(rgba(56, 55, 55, 0.658),rgb(56, 55, 55, 0.658)),url(./medias/africa-humanitarian-aid-doctor-taking-care-of-patient.jpg);
    background-position: center,;
    background-repeat: no-repeat,no-repeat;
    background-size: cover,cover;
    background-attachment: fixed;

}



  .test{
    background-image: linear-gradient(rgba(56, 55, 55, 0.658),rgb(56, 55, 55, 0.658)),url(./medias/domaine-sante-1024x600.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat,no-repeat;
    background-position: center,;

  }
.stats{
  background-image: linear-gradient(rgba(56, 55, 55, 0.658),rgb(56, 55, 55, 0.658)),url(./medias/domaine-sante-1024x600.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat,no-repeat;
  background-position: center,;
}
 
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
  background-color: black;
  border: 2px solid white;
}
.tte{
  display: flex;
  justify-content: center;
  align-items: center;

 
  
}

.ndieulbene{
  background-image:linear-gradient(rgba(56, 55, 55, 0.658),rgb(56, 55, 55, 0.658)), url(./medias/media.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat,no-repeat;
  background-position: center,;
}
.logo{
  width: 200px;
}
  
  .heart{
font-size: 60px;
  
  animation : heart .5s infinite alternate linear;
  
  }
  .a{
  margin: 0 auto ;
  }
  @keyframes heart{
  from{
  transform: scale(.4);
  }
  to{
  transform: scale(.1);
  }
  } 
  .mamso{
    position: relative;
    z-index: 1;
  }
  #taff{
    z-index: 2;
  }
  .mamso2{
    word-wrap: normal;
  }
  .mabouton:hover{
    transform: scale(1.10) translateZ(0);
 }
 .mama:hover{
  transform: scale(1.10) translateZ(0);
}
 /* input */

 hr {
   border: 0;
   margin: 1.35em auto;
   max-width: 100%;
   background-position: 50%;
   box-sizing: border-box;
 }
 .pill {
  height:0px;
  border-radius: 2px;
  border: 2px solid currentColor;
  width: 90%;
}
/* testimonials */
.tem{
  width: 50px;
  height: 50px;
} 
/* contact */
.rowcont{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gauche, .droite{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardcont{
  background-color: #6F90A4;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.active{
  /* color: white !important; */
  background-color: black !important;
  
}






.block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

.box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
  width: 66%;
  height: 66%;

	border-radius: 50%;
	
	box-shadow: 0 0 5px 3px #ffffff;
}

.box::before {
	position: absolute;
	content: '';
	width: calc(100% + 28px);
	height: calc(100% + 28px);
	border-radius: 50%;
	border: 1px solid #0dcaf0;
}

.box .number span {
	color: #e9e9e9;
}

.box .number .num {
	font-size: 35px;
	font-weight: bold;
}

.box .number .sub {
	font-size: 20px;
}

.box .title {
	font-size: 15px;
	color: #9b9b9b;
}

.dots {
	display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: 2s transform, 2s opacity ease;
}

.dots::after {
	position: absolute;
	content: '';
	width: 10px;
	height: 10px;
	top: 5px;
	left: 50%;
	border-radius: 50%;
	background-color: #ffffff;
	box-shadow: 0 0 5px 2px #585858;
	transform: translateX(-50%);
}

.svg {
	position: absolute;
	width: 100%;
	height: 100%;
	fill: none;
	transform: rotate(-90deg);
}

.circle {
	stroke: url(#gradientStyle);
	stroke-width: 4px;
	stroke-dasharray: 503;
	stroke-dashoffset: 503;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	transition: 2s stroke-dashoffset;
}
#NNN, #OOO, #PPP{
  display: none ;
}